<% include ../layouts/layout %>

<!-- Settings -->
    <div id="account-settings" class="intro">
    <div class="intro-body">       
        <div class = "container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default" data-bind="with: userInfo">
                      <div class="panel-heading">
                        <h3 class="panel-title">User Information</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                            <label class="col-sm-3 control-label">Firist Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= session.user.firstName %>" data-bind="value: firstName">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= session.user.lastName %>" data-bind="value: lastName">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">Date of Birth</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= session.user.dob %>" data-bind="value: dob">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-9">
                              <input type="phone" class="form-control" value="<%= session.user.phone %>" data-bind="value: phone">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">Ethnicity</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= session.user.ethnicity %>" data-bind="value: ethnicity">
                            </div>
                        </div>
                        <!-- <div class="row">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="gender" required>
                                    <option value="">Gender*</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div> -->
                        <button type="button" class="btn btn-info setting-save-btn" data-bind="click: save">Save</button>
                      </div>
                    </div>

                    <!-- Restaurant Info -->
                    
                    <!-- <div class="panel panel-default" data-bind="with: favorites">
                      <div class="panel-heading">
                        <h3 class="panel-title">Favorites</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                            <label class="col-sm-3 control-label">Favorites</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= session.user.firstName %>" data-bind="value: favorites">
                            </div>
                        </div>                     
                        <button type="button" class="btn btn-info setting-save-btn" data-bind="click: save">Save</button>
                      </div>
                    </div> -->

                </div>
                <div class="col-md-6">
                    <div class="panel panel-default" data-bind="with: emailInfo">
                      <div class="panel-heading">
                        <h3 class="panel-title">Change Email/Username</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= session.user.email %>" data-bind="value: email">
                            </div>
                        </div>                     
                        <button type="button" class="btn btn-info setting-save-btn" data-bind="click: save">Save</button>
                      </div>
                    </div>
                    <div class="panel panel-default" data-bind="with: passwordInfo">
                      <div class="panel-heading">
                        <h3 class="panel-title">Change Password</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                            <label class="col-sm-3 control-label">New Password</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= session.user.firstName %>" data-bind="value: newPassword">
                            </div>
                        </div>     
                        <div class="row">
                            <label class="col-sm-3 control-label">Confirm Password</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= session.user.firstName %>" data-bind="value: confirmPassword">
                            </div>
                        </div>                     
                        <button type="button" class="btn btn-info setting-save-btn" data-bind="click: save">Save</button>
                      </div>
                    </div>
                    <div class="panel panel-default" data-bind="with: paymentInfo">
                      <div class="panel-heading">
                        <h3 class="panel-title">Payment Information</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                            <label class="col-sm-3 control-label">Name On Card</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= paymentOption.nameOnCard %>" data-bind="value: nameOnCard">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">Number</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= paymentOption.number %>" data-bind="value: number">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">Expiration Date</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= paymentOption.expirationDate %>" data-bind="value: expirationDate">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label">CVV</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= paymentOption.cvv %>" data-bind="value: cvv">
                            </div>
                        </div>           
                        <div class="row">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="<%= paymentOption.address %>" data-bind="value: address">
                            </div>
                        </div>
                        <div class="row settings-sm-payment-row">
                            <div class="col-sm-4">
                                <label class="control-label">City</label>                               
                                <input type="text" class="form-control" value="<%= paymentOption.city %>" data-bind="value: city">                          
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">State</label>                               
                                <input type="text" class="form-control" value="<%= paymentOption.state %>" data-bind="value: state">                         
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">Zip</label>                               
                                <input type="text" class="form-control" value="<%= paymentOption.zip %>" data-bind="value: zip">                          
                            </div>
                        </div>                                                      
                        <button type="button" class="btn btn-info setting-save-btn" data-bind="click: save">Save</button>
                      </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script src="/scripts/settings.js"></script>


