<% include layouts/layout %>


<div class="intro">
    
        <div class="container">
        	
        	<div class="row">
       		
                    <h1 class="page-header">Custom Reports</h1>

                    <h3>Choose Date Range</h3>

                    <!-- Date Picker -->
                    <input id="dateRange" type="text" style="color:black;" name="datefilter" value="" />
 
                    <hr>

                    <!-- Stats for Selected Date Range  -->  

                   <h4>My Report</h4>
                    <div class="rows">
                        <div id="totalOrders" style="background-color: white; color: black;" class="col-md-3 col-md-offset-3">Total Orders: <%= model.totalOrders %></div>
                        <div id="totalSales" style="background-color: white; color: black;" class="col-md-3">Total in Sales: <%= model.totalSales.toFixed(2) %></div>
                        <div id="topSellingItem" style="background-color: white; color: black;" class="col-md-3 col-md-offset-3">Top Selling Item: <%= model.topSellingItem %></div>
                        <div id="dayOfMostOrders" style="background-color: white; color: black;" class="col-md-3">Day with Most Orders: <%= model.dayOfMostOrders %></div>
                        <div id="dayOfHighestSales" style="background-color: white; color: black;" class="col-md-3 col-md-offset-3">Day with Highest Sales: <%= model.dayOfHighestSales %></div>
                        <div id="timeOfMostOrders" style="background-color: white; color: black;" class="col-md-3">Time of Day with Most Orders: <%= model.timeOfMostOrders %></div>
                    
                    </div>

                    <br>

                    <!-- Save Report -->
                    <div class"row">
                    <div class="col-md-12">
                    <a href="javascript:demoTwoPageDocument()" style="background-color:#5dade2" class="btn btn-info btn-lg" role="button">Save Report</a>
                    </div>
        </div>
    </div>
</div>

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="/scripts/custom_report.js"></script>
<script type="text/javascript" src="/scripts/jspdf.js"></script>
<script type="text/javascript" src="/scripts/filesaver.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />




                
                
                




                
  




                
                

                    




                
                
                
           

