<% include layouts/layout %>

<!-- Restaurants -->
<!-- Page Content -->
<div class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <a href=<%= restaurant.name %>>
                        <img class="img-responsive" src=<%= restaurant.imgPath %> alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3><%= restaurant.displayName %></h3>
                    <h4><%= restaurant.mainFoodType %></h4>
                    <p><%= restaurant.longDescription %></p>
                </div>
            </div>
        
            
        <% if(menus != null){ %>
        
        <% menus.forEach(function(menu){ %>
                            
            <!-- Menu Name -->
            <h1 class="page-header" style="text-align: center;"><%= menu.name %></h1>
            
            <!-- Categories -->
            <% menu.categories.forEach(function(category) { %>
            <div class="menu-category" id="<%=category._id%>">
            <h2 data-bind="click: clickCategory.bind($data, '<%=category._id%>')" class="category-name"><%= category.name %></h2>
            <span class="category-description"><%= category.description %></span>
            <hr>
            

            <!-- Items -->
            <div id="food-items-<%=category._id%>">
            <div data-bind="foreach: items">
            <div class="menu-item col-md-4"  data-bind="click: $parent.clickItem, attr:{id: _id}">
            <h4 data-bind="text: name"></h4>
            <h4 data-bind="text: price"></h4>
            <img width="300" height="200" data-bind="attr:{src: imgPath}">
            <h4 style="margin:10px;" data-bind="text: description"></h4>
                                                

            </div>
            </div> 
            </div>
            </div>
            <% }) %>
            </div>
            <% }) %>
            <% } %>
            </div>


        <!-- data-toggle="modal" data-target="#create-food-item-window" -->
            <!-- Modals -->
            <div id="show-food-item-options" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" data-bind="with: item">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Item to Order</h4>
                            </div>
                            <div class="modal-body">
                                <h4 id="modal-item-name" data-item-guid="" data-restaurant-guid=""></h4>
                                <form>
                                    <label>Quantity:</label>
                                    <div class="quantity">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-danger btn-number" data-type="minus" >
                                                    <span class="fa fa-minus"></span>
                                                </button>
                                            </span>

                                                <input disabled id="item-quantity" type="text" class="form-control input-number" value="1" min="1" max="100">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-success btn-number" data-type="plus">
                                                    <span class="fa fa-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <p></p>
                                    <label>Special Instructions:</label>
                                    <div class="special-instructions">
                                        <textarea rows="5" cols="35" placeholder="Any special instructions for this?"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="add-item" class="btn btn-success">Add Item to Order</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
.quantity{
    width: 150px;
}

</style>



<script src="/scripts/restaurant.js"></script>
