<% include layouts/header %>

<!-- Restaurants -->
<!-- Page Content -->
    <div class="container">
<% if(restaurants != null){ %>
<% restaurants.forEach(function(restaurant) { %>
        <div class="row">
            <div class="col-md-7">
                <a href=/restaurants/<%= restaurant.name %>>
                    <img class="img-responsive" src=<%= restaurant.imgPath %> alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><%= restaurant.name %></h3>
                <h4><%= restaurant.mainFoodType %></h4>
                <p><%= restaurant.longDescription %></p>
                <a class="btn btn-primary" href=/restaurants/<%= restaurant.name %> >View Menu</a>
            </div>
        </div>
    <hr>
<% })} else {%>

<p> Sorry! No results found. </p>

<%}%>

<script src="/scripts/main.js"></script>